# Node modules
node_modules/

# Next.js build output
.next/
out/

# Production
.env
.env.*.local

# Local development logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Optional: Vercel
.vercel/

# Optional: Netlify
.netlify/

# Optional: local testing
coverage/
*.lcov

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo

# eslint/Prettier
.eslintcache

# Next.js export folders
exported/
